#lyrics {
}
#lyrics ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul li {
  text-decoration: none;
}

#lyrics ul li {
  padding: 2px 6px;
  border-radius: 1px;
}
.melody-highlight::before {
  content: " ♪ "; /* Melody symbol before text */
}

.melody-highlight::after {
  content: " ♪ "; /* Melody symbol after text */
}

/* Optional: Style the highlighted item */
.melody-highlight {
  background: white;
  color: black;
}
