* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  height: 100%; /* Make sure body takes full height */
  overflow: hidden; /* Prevent scrolling */
}

.bg-wrap {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

#background,
#hero {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.08s linear;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1000;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  pointer-events: none;
}
#canvas-2 {
  z-index: 10 !important;
}
input[type="file"],
button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 15;
}

button {
  margin-top: 20px;
}
#start {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease-in-out;
  z-index: 5;
}
.window {
  padding: 40px;
  border-radius: 16px;

  cursor: pointer;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.window p {
  font-size: 32px;
}

.window br {
  height: 0px !important;
}

#model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Optional: you can add other styles for size and appearance */
}

#answer {
  text-align: start !important;
}
.model-text {
  text-align: center;
  z-index: 9999;
}
.model-small-text {
  color: rgb(186, 186, 186);
}

header {
  position: fixed;
  padding: 20px;
  right: 0;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#background {
  scale: 1.05;
}

#hero {
  scale: 1.1;
}
